<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('./includes/navigation.ejs') %>

<main>
    <%= totalprice %>

    <h3><% if (cart_items.length  == 0 ){ %>
        Cart is empty.Add products to cart to buy them.
    <% } %></h3>

    <div class="grid">
    <% cart_items.forEach(function(item) { %> 
    <article class="card product-item">
        <header class="card__header">
            <h1 class="product__title">
                <%= item.name %>
            </h1>
        </header>
        <div class="card__content">
            <h2 class="product__price">$
                <%= item.price %>
               
            </h2>
            <p class="product__description">Qt Ord:
                <%= item.quantity %> 
            </p>
            
        </div>
        <div class="card__actions">
            <form action="/manager/cart#delete_item" method="post">
                <button class="btn" type="submit">Delete from cart</button>
                <input type="hidden" name="recipe_id" value=<%= item.recipe_id %> >
            </form>
        </div>
    </article>
    <% }); %>
    </div>
    <% if(cart_items.length!=0){ %>
        <form action="/manager/orders" method="post">    
            <label for="Number">Phone Number:
            <input type="tel" name="number" value="" pattern="[0-9]{10}" required>
            <label for="order_desc">Order Description:</label>
            <input type="text" name="order_desc">
            <button class="btn" type="submit">Make the order</button>
        </form>
    <% } %>

    
      
</main>
<%- include('./includes/end.ejs') %>