<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('./includes/navigation1.ejs') %>

<main>

    Booked Tables:

    

    <div class="grid">
    <% booked_tables.forEach(function(item) { %> 
    <article class="card product-item">
        <header class="card__header">
            <h1 class="product__title">
                Table Id: <%= item.table_id %>
                Slot No: <%= item.slot_no %>
                
                
            </h1>
        </header>
        <div class="card__content">
            <h3 class="product__price">
                Capacity: <%= item.seater %>
                Customer Name: <%= item.name %>
               
            </h3>
            
            
        </div>
        <form action="/manager/home" method="post">    
            <input type="hidden" name="table_id" value="<%= item.table_id %>" >
            <input type="hidden" name="customer_id" value="<%= item.customer_id %>" >
            <button class="btn" type="submit">Make the order</button>
        </form>
    </article>
    <% }); %>
    </div>
    
    Free Tables:

    

    <div class="grid">
    <% not_booked_tables.forEach(function(item) { %> 
    <article class="card product-item">
        <header class="card__header">
            <h2 class="product__title">
                Table Id: <%= item.table_id %>
                <br></br>
                Slot No: <%= item.slot_no %>
                
                
            </h2>
        </header>
        <div class="card__content">
            <h3 class="product__price">
                Capacity: <%= item.seater %>
                
               
            </h3>
            
            
        </div>
        
    </article>
    <% }); %>
    </div>

    
      
</main>
<%- include('./includes/end.ejs') %>